body {
    font-family: Arial, sans-serif;
    background-color: #070606;
    margin: 0;
    padding: 0;
  }
  
  .feed {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  
  .post-header {
       display: flex;
    justify-content: space-between;
    width: 100%;
    
    
  
}
  
  .post-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 15px;
  }
  
  .post-header h3 {
    margin: 0;
    display: grid;
    
    
  }
  
  .post-image img {
    width: 100%;
    display: grid;
    margin-top: 0px;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .like, .comment {
    display: flex;
    align-items: center;
  }
  
  .like img, .comment img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
  }

  .post-header h1 {
   
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 0px;
   font-size: 22px;
  



   ;
  }
  
  h3 {
    
    font-size: 1.00em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:normal;
        margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header-left {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}